html, body{
    height: 100%;
    min-width: none;
}

#Home{
    background-color: #0e1a35;
    background: url(https://proveno.github.io/Merkury/img/Back.png);

    padding-top: 65px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 35px;
}
#BigLogo{
    font-size: 30px;
}
#LoginButton{
    border: solid 1px #233a72;
    color: #466ed6;
    padding-left: 40px;
    padding-right: 40px;
    transition: filter 0.5s, padding-left 0.5s, padding-right 0.5s;
}
#LoginButton:hover{
    background-color: #1a2c58;
    padding-left: 50px;
    padding-right: 50px;
    filter: brightness(1);
}
#LoginButton:active{
    background-color: #1a2c58;
    filter: brightness(0.5);
}
header{
    height: max-content;
    padding-bottom: 100px;
    color: #ffffff;
}
header button{
    background: none;
    border: 0;
    border-radius: 99em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    transition: filter 0.5s, padding-left 0.5s, padding-right 0.5s;
}
header button:hover{
    background-color: #325bb7;
    padding-left: 20px;
    padding-right: 20px;
    filter: brightness(0.5);
}
header button:active{
    background-color: #325bb7;
    filter: brightness(0.2);
}
#HomeText{
    text-align: center;
    color: #ffffff;
}
#HomeText h3{
    text-align: center;
    color: #8492af;
}
#HomeText button{
    background-color: #6c7dba;
    color: #ffffff;
    margin-top: 90px;
    margin-bottom: 518px;
    border: 0;
    border-radius: 99em;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    transition: filter 0.5s, padding-left 0.5s, padding-right 0.5s;
}
#HomeText button:hover{
    padding-left: 60px;
    padding-right: 60px;
    filter: brightness(0.8);
}
#HomeText button:active{
    filter: brightness(0.5);
}
#HomeText img{
    position: absolute;
    margin-top: -148px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 35px #6c7dba;
}


#IconFeatures{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 250px;
    padding-bottom: 100px;
}
#IconFeatures img{
    margin-bottom: 70px;
}
#IconFeatures p{
    color: #8492af;
    margin-top: 25px;
    margin-bottom: 60px;
    padding-left: 75px;
    padding-right: 75px;
}
#IconFeatures button{
    background-color: #ffffff;
    border: solid #dadee7 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 99em;
    transition: filter 0.5s, padding-left 0.5s, padding-right 0.5s;
}
#IconFeatures button:hover{
    padding-left: 95px;
    padding-right: 95px;
    filter: brightness(0.8);
}
#IconFeatures button:active{
    filter: brightness(0.5);
}


#AllYouNeed{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
    padding-bottom: 200px;

    float: left;
    background-color: #f6f7fa;
    background-image: url(https://proveno.github.io/Merkury/img/AllYouNeedBack.png);
}
#AllYouNeed h1{
    color: #0e1a35;
    font-size: 50px;
}
#AllYouNeed div{
    color: #5886ff;
    font-size: 20px;
    margin-top: 30px;
}
#AllYouNeed p{
    color: #8492af;
    margin-top: 30px;
    font-size: 20px;
}

#DragDrop{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #0e1a35;
    background-image: url(https://proveno.github.io/Merkury/img/Back2.png);
}
#DragDrop h1{
    color: #ffffff;
}
#DragDrop p{
    color: #8492af;
    margin-top: 30px;
    font-size: 20px;
}
#DragDrop button{
    border: none;
    background:none;
    margin-left: 5px;
}
.tasks{
    background-color: #ffffff;
    margin-right: 50px;
    height: 100px;
    float: left;
    border: 1px solid #46577c;
}
.tasks .row{
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 45px;
}
.tasks button{
    border: none;
    background: none;
    transition: filter 0.7s;
}
.tasks button:hover{
    filter: brightness(0.9);
}
.timeLeft{
    color: #8492af;
}
.completed{
    color: #26c438;
}
#PowerfullPSD{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 800px;
    background-color: #ffffff;
    background-image: url(/img/PSD.png);
    text-align: center;
}
#PowerfullPSD p{
    color: #8492af;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}
#Pricing{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
}
#Pricing h1{
    margin-bottom: 100px;
}
#Pricing p{
    color: #8492af;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}
.puncts{
    margin-top: 15px;
}
.priceShadows{
    text-align: center;
    box-shadow: 0 0 25px #dfe0e4;
    padding-top: 40px;
    padding-bottom: 40px;
}
#Pricing button{
    background-color: #5584ff;
    color: #ffffff;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;

    border-radius: 99em;
    border: none;
    transition: filter 0.5s, padding-left 0.5s, padding-right 0.5s;
}
#Pricing button:hover{
    padding-left: 100px;
    padding-right: 100px;
    filter: brightness(0.9);
}
#Pricing button:active{
    filter: brightness(0.7);
}

body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
    height: 500px;
}









footer{
    height: max-content;

    background-color: #0e1a35;
    color: #8492af;
    
    padding-top: 50px;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-left: 10%;
}


.vertical{
    margin-top: 10px;    
    margin-bottom: 10px;    
}

footer img{
    height: 20px;
    width: 20px;
}
.imgButtons:hover{
    background: none;
    border:none
}

footer button{
    background: none;
    border: 0;
    border-radius: 99em;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #8492af;
    transition: filter 0.5s, padding-left 0.5s, padding-right 0.5s;
}
footer button:hover{
    background-color: #353c4a;
    padding-left: 25px;
    padding-right: 25px;
    filter: brightness(1.7);
}
footer button:active{
    background-color: #353c4a;
    filter: brightness(0.4);
}
